In [1]:
import pandas as pd

Source: https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide

In [3]:
xl = pd.ExcelFile('../data/COVID-19-geographic-disbtribution-worldwide-2020-04-25.xlsx')

In [4]:
xl.sheet_names

['COVID-19-geographic-disbtributi']

In [5]:
df = xl.parse('COVID-19-geographic-disbtributi')

In [6]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-25,25,4,2020,70,1,Afghanistan,AF,AFG,37172386.0,Asia
1,2020-04-24,24,4,2020,105,2,Afghanistan,AF,AFG,37172386.0,Asia
2,2020-04-23,23,4,2020,84,4,Afghanistan,AF,AFG,37172386.0,Asia
3,2020-04-22,22,4,2020,61,1,Afghanistan,AF,AFG,37172386.0,Asia
4,2020-04-21,21,4,2020,35,2,Afghanistan,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
13001,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
13002,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,Africa
13003,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
13004,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
13005,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa